body {
  background-color: hsl(0, 0%, 13%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#countLabel {
  text-align: center;
  font-size: 10em;
  font-family: Helvetica;
  color: rgb(187, 30, 64);
}

/* Center the button container */
#btnContainer {
  text-align: center;
}

.buttons {
  padding: 10px 20px;
  margin: 10px;
  width: 200px;
  font-size: 1.5em;
  color: rgb(241, 11, 61);
  background-color: hsl(0, 31%, 20%);
  border-color: rgb(241, 11, 61);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.buttons:hover {
  background-color: hsl(0, 34%, 17%);
}

.scale {
  animation: scaleUpDown 0.5s ease;
}

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
