:root {
  --bg1: #001e2b;
  --bg2: #011720;
  --primary: #00ce58;
  --secondary: #71f6ba;
  --white: #ffffff;
  --border-gradient: linear-gradient(45deg, var(--primary), var(--secondary));
}

/* Example 1 Styles */
/* 
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.box {
  border: 3px solid transparent;
  border-image: var(--border-gradient) 1;
  width: calc(100% - 40px);
  max-width: 600px;
  min-height: 25vh;
  margin: 10px auto;
  padding: 25px;
  background-color: var(--bg2);
  color: var(--white);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
*/

/* Example 2 Styles */
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
}

#fruits {
  border: 3px solid transparent;
  border-image: var(--border-gradient) 1;
  width: calc(100% - 80px);
  max-width: 600px;
  margin: 40px;
  padding: 45px;
  color: var(--white);
  font-size: 2rem;
  text-align: left;
  background-color: var(--bg2);
  box-sizing: border-box;
}
